[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/jamolnng/argparse
